<!--Chat-->


<div id="chatbox_johndoe" class="chatbox" [ngStyle]="{'width.px': tam_chat, 'backgroundColor':'white'}">
    <div class="chatboxhead">
        <div class="chatboxtitle">Chat</div>
        <div class="chatboxoptions">
            <a>+</a>
            <a (click)="minimizarChat()">-</a>
        </div><br clear="all">
    </div>
    <!--If para Ocultar o minimiizar el chat-->
    <div *ngIf="flagChat">
        <div class="chatboxcontent">
            <mat-grid-list cols="3">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-tab-group>
                        <mat-tab label="chat 1">
                            <div class="chatboxmensajes">
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">a:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">SAD</span></div>
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">a:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">SD</span></div>
                                <div class="chatboxmessage"><span class="chatboxinfo">Sent at 3:0a2PM Mar 13th</span></div>
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">a:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">aaaaaaaaaaa</span></div>
                                <div class="chatboxmessage"><span class="chatboxinfo">Sent at 5:37PM Mar 13th</span></div>
                            </div>
                        </mat-tab>
                        <mat-tab label="chat 2">
                            <div class="chatboxmensajes">
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">b:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">SAD</span></div>
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">b:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">SD</span></div>
                                <div class="chatboxmessage"><span class="chatboxinfo">Sent at 3:0a2PM Mar 13th</span></div>
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">b:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">aaaaaaaaaaa</span></div>
                                <div class="chatboxmessage"><span class="chatboxinfo">Sent at 5:37PM Mar 13th</span></div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="2">
                    <mat-tab-group style="height: 100%;">
                        <mat-tab label="Mensajes">
                            <div class="chatboxmensajes">
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">b:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">SAD</span></div>
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">b:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">SD</span></div>
                                <div class="chatboxmessage"><span class="chatboxinfo">Sent at 3:0a2PM Mar 13th</span></div>
                                <div class="chatboxmessage"><span class="chatboxmessagefrom">b:&nbsp;&nbsp;</span><span class="chatboxmessagecontent">aaaaaaaaaaa</span></div>
                                <div class="chatboxmessage"><span class="chatboxinfo">Sent at 5:37PM Mar 13th</span></div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <div class="chatboxinput"><textarea class="chatboxtextarea" placeholder="Escribir mensaje aquí.."></textarea>
                </div>
              </mat-grid-tile>
            </mat-grid-list>

        </div>


    </div>
</div>
