a {
    cursor: pointer;
}

li {
    cursor: pointer;
}

.styleContact {
    padding: 1px;
    height: 260px;
    overflow-y: auto;
    overflow-x: auto;
}

.styleChat {
    padding-left: 15px;
    padding-right: 5px;
}

.styleUl {
    padding-top: 15px;
    padding-left: 25px;
}

.chatbox {
    position: fixed;
    position: expression("absolute");
    display: none;
    z-index: 1;
    bottom: 0px;
    right: 10px;
    display: block;
}

.chatboxhead {
    background-color: #5788c0;
    padding: 7px;
    color: #ffffff;
    border-right: 1px solid #5788c0;
    border-left: 1px solid #5788c0;
}

.chatboxList {
    background-color: #cfe1f1;
    height: 20px;
    padding: 1px;
    color: #ffffff;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    padding: 10px;
    padding-top: 25px;
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #333333;
    height: 200px;
    width: auto;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
    line-height: 1.3em;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.chatboxmensajes {
    padding-top: 10px;
}

.chatboxtextarea {
    width: 99%;
    height: 54px;
    padding: 3px 0px 3px 0px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
}

.chatboxtextareaselected {
    border: 2px solid #477172;
    margin: 0;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;
}

.chatboxmessagefrom {
    margin-left: -1em;
    font-weight: bold;
}

.chatboxmessagecontent {}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

.chatboxtitle {
    float: left;
}