/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    margin: 0;
    padding: 0;
}

agm-map {
    height: 700px;
}
.text-center{
  text-align: center;
}
.full-width{
  width: 100%;
}

.mat-tab-label {
    width: 25%;
}

